html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.horizontal-list {
    display: flex;
    flex-direction: row;
}

.chinese {
    padding: 5px;
    font-size: 35px;
    cursor: pointer;
}

#canvas {
  border: 2px solid black; 
  display: inline-block; 
  cursor: crosshair;
}

#main{
  margin-left: 15px;
}

.pinyin-definition-examplewords-container {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
}


#recognized-characters{
  margin-left:0%
}

h1{
  font-size: 35px;
}

h2 {
  font-size: 28px;
  margin: 0;
}

p {
  margin-top: 5px;
  font-size:20px;
  text-align: left;
  margin-left: 27px;
}

.canvas-buttons-container, h2, .horizontal-list {
  margin-left: 20px;
}

.canvas-buttons-container{
  display:inline-block;
}

.outer-canvas-buttons-guesses-container {
  display: flex; 
  flex-direction: row; 
  align-items: flex-start; 
}

.button {
  padding: 6px 15px;
  font-size: 15px; 
  background-color: #F0F0F0; 
  color: #000; 
  border: 2px solid #000; 
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3; 
}

.commands {
  justify-content: space-between;
  display: flex;
}

.chinese:hover {
  background-color: #f0f0f0; 
}

.popup{
  font-size: 28px;
  margin: 0;
  display:flex;
  justify-content: center;
  align-items: center;

  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;

}

.correct-popup {
  color: green; 
}
.incorrect-popup {
  color: red; 
}


.fade-in {
  opacity: 1;
  transition: opacity 0.5s linear;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s linear;
}

.underline-green {
  text-decoration: underline green;
}

.underline-red {
  text-decoration: underline red;
}
.horizontal-list {
  display: flex;
  flex-wrap: wrap;
}

.answers-animate-container {
  display: flex; 
  justify-content: space-between; 
}

.half-width {
  flex: 0 0 50%;
}

.hidden {
  display: none;
}

.char-preview-container {
  display: flex;
  align-items: center; 
}

#char-preview {
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.difficulty-header {
  margin-bottom: 10%;
}


/* Add this CSS for small screens */
@media screen and (max-width: 768px) {
  .outer-canvas-buttons-guesses-container {
    flex-direction: column; /* Stack elements vertically on small screens */
  }

  .guesses-container {
    margin-top: 10px; /* Add spacing between Guesses and other elements */
  }
}

@media screen and (min-width: 769px) {
  .half-width {
    width: 100%; /* Set the desired width for larger screens */
  }
}

/* For screens 768px or smaller, stack CharPreview below Answers */
@media screen and (max-width: 768px) {
  .answers-animate-container {
    flex-direction: column;
    align-items: left; /* Center align both CharPreview and Answers */
  }

  .char-preview-container {
    width: 100%; /* Take up full width on smaller screens */
  }

}