.drawingBoard {
    width: 250px;
    height: 250px;
    cursor: crosshair;
    clear: both;
    overflow: hidden;
    background-color: #fafafa;
}

.drawingBoard span {
    display: none;
}

.drawingBoard.loading {
    background-color: #f0f0f0;
}

.drawingBoard.loading span {
    display: inline;
    color: #606060;
}

.commands {
    width: 250px;
    margin-top: 3px;
}


.button:hover {
    background-color: #f1d7a6;
}

.chinese {
    padding:5px;
    font-size: 30px;
    cursor: pointer;
}
.button{
    width: 75px;
    height:30px;
}

.hanziLookupChars {
    margin-bottom: 20px;
}

.header {
    font-size: 23px;
}

.test {
    font-size: 15px;
}

#animate{
    display: none;
}

#hide{
    display: none;
}
.answers {
    cursor: pointer;
    padding:5px;
    font-size: 30px;
}